<article class="h6-l bt b--black-10 dark-gray lh-copy-ns ph2 ph5-m pv4 pv5-ns avenir {% cycle 'bg-white', 'bg-near-white' %}" id={{ app.title }}>
    <div class="flex flex-row justify-center center">
      <div class="flex h-inherit items-center w-third-l mr6-l tc tl-l">
        <div class="flex-column w-100">
          <h2 class="f3 f2-l fw5 mb4">{{ app.title }}</h2>

          <div class="mb4 bt bb b--moon-gray">
            <dl class="f5 f4-l lh-title mv2 flex flex-row items-center justify-center justify-start-l">              
              <dt class="dib b">Lighthouse:</dt>
              <!--<span class="h1 h2-l flex ml2">{% include lighthouse.svg %}:</span>-->
              <dd class="dib ml2 mid-gray">{{ app.lighthouse }}</dd>
            </dl>

              <dl class="f5 f4-l lh-title mv2 flex flex-row items-center justify-center justify-start-l">              
              <dt class="dib b">Interactive (Emerging Markets):</dt>
              <!--<span class="h1 h2-l flex ml2">{% include timer.svg %}:</span>-->
              <dd class="dib ml2 mid-gray">{{ app.interactive-em }}</dd>
            </dl>

            <dl class="f5 f4-l lh-title mv2 flex flex-row items-center justify-center justify-start-l">              
              <dt class="dib b">Interactive (Faster 3G):</dt>
              <!--<span class="h1 h2-l flex ml2">{% include timer.svg %}:</span>-->
              <dd class="dib ml2 mid-gray">{{ app.interactive-faster-3g }}</dd>
            </dl>
          </div>
          
          <div class="lh-title mb4">
            {% if app.libraries %}
            <dl class="f5 lh-title mv2">
              <dt class="dib b">Framework/UI libraries:</dt>
              <dd class="dib ml0">
              {% for library in app.libraries %}
                {{ library.name }}{% if forloop.last == false %}, {% endif %}
              {% endfor %}
              </dd>
            </dl>
              <!--<dt class="f5 b">Framework/UI library</dt>
              <div class="flex flex-row items-center justify-center justify-start-l no-underline">
                <dd class="ml0">{{ app.library }}</dd>

                <a class="flex" href={{ app.framework-link }}>
                  <img src={{ app.library-logo | relative_url}} class="grow-large h2 w2 ml1 br-100" alt={{ app.title }}>
                </a>
              </div>-->
            {% endif %}
            
            {% if app.scaffolding %}
              <dl class="f5 lh-title mv2">
                <dt class="dib b">Scaffolding:</dt>
                <dd class="dib ml0">{{ app.scaffolding }}</dd>
              </dl>
            {% endif %}

            {% if app.module-bundling %}
              <dl class="f5 lh-title mv2">
                <dt class="dib b">Module bundling:</dt>
                <dd class="dib ml0">{{ app.module-bundling }}</dd>
              </dl>
            {% endif %}

            {% if app.service-worker %}
              <dl class="f5 lh-title mv2">
                <dt class="dib b">Service Worker:</dt>
                <dd class="dib ml0">{{ app.service-worker }}</dd>
              </dl>
            {% endif %}

            {% if app.perfomance-patterns %}
              <dl class="f5 lh-title mv2">
                <dt class="dib b">Performance patterns:</dt>
                <dd class="dib ml0">{{ app.perfomance-patterns }}</dd>
              </dl>
            {% endif %}

            {% if app.server-side-rendering %}
              <dl class="f5 lh-title mv2">
                <dt class="dib b">Server-side rendering:</dt>
                <dd class="dib ml0">{{ app.server-side-rendering }}</dd>
              </dl>
            {% endif %}

            {% if app.api %}
              <dl class="f5 lh-title mv2">
                <dt class="dib b">API:</dt>
                <dd class="dib ml0">{{ app.api }}</dd>
              </dl>
            {% endif %}

            {% if app.hosting %}
              <dl class="f5 lh-title mv2">
                <dt class="dib b">Hosting:</dt>
                <dd class="dib ml0">{{ app.hosting }}</dd>
              </dl>
            {% endif %}
            
            {% if app.other-details %}
              <dl class="f5 lh-title mv2">
                <dt class="dib b">Other details:</dt>
                <dd class="dib ml0">{{ app.other-details }}</dd>
              </dl>
            {% endif %}
            
            {% if app.authors %}
              <dt class="f5 b mt2 mb2">
                {% if app.authors.size == 1 %}
                  Author
                {% endif %}

                {% if app.authors.size > 1 %}
                  Authors
                {% endif %}
              </dt>

              {% for author in app.authors %}
                {% assign contributor = site.contributors | where: 'name', {{author.name}} | first %}
                <a class="link" href={{ contributor.link }}>
                  <img src={{ contributor.image }} class="grow-large ba b--black-10 br-100 h2 w2 {% if forloop.first == false %}ml2{% endif %}" alt={{ contributor.name }}>
                </a>
              {% endfor %}
            {% endif %}
          </div>

          <div class="flex justify-center justify-start-l">
            <a class="f7 fw5 tracked bg-orange no-underline grow br-pill dib ph3 ph4-l pv2 near-black" href={{ app.app-link }}>VIEW APP</a>
            <a class="f7 fw5 tracked bg-orange no-underline grow br-pill dib ph3 ph4-l pv2 near-black ml2" href={{ app.github-link }}>SOURCE CODE</a>
          </div>
        </div>
      </div>
      <div class="fl-l dn db-l">
        <div class="flex h-100 items-center">
          <a class="link" href={{ app.app-link }}>
            <img class="grow w5" src={{ app.image | relative_url }} alt="{{ app.title }} HN PWA running on a mobile phone">
          </a>
        </div>
      </div>
    </div>
  </article>