* {
  padding: 0;
  margin: 0;
  font-family: Roboto, Noto, sans-serif;
}

.story-root {
  margin: 10px;
}

ul {
  list-style: none;
}

.app-title a {
  font-weight: bold;
  margin-right: 5px;
  color: #464646;
  text-decoration: none;
}

header {
  background: #ececec;
  padding: 10px;
}

header ul {
  list-style: none;
}

header a {
  color: #8e8e8e;
  text-decoration: none;
}

header li {
  display: inline-block;
}

#stories {
  margin: 10px;
}

.headline, .sub-info {
  display: flex;
  color: #8e8e8e;
}

.secondary {
  color: #8e8e8e;
  font-weight: lighter;
}

.primary {
  color: #404040;
}

.headline > *, .sub-info > * {
  margin-right: 4px;
}

.sub-info {
  margin-top: 4px;
  font-size: 13px;
}

.host {
  font-size: 13px;
}

.story {
  margin: 18px 0;
}

.title {
  text-decoration: none;
}

.comments {
  cursor: pointer;
  color: #8e8e8e;
}

.comments:hover {
  text-decoration: underline;
}

.comment-text {
  margin: 10px 0;
  font-size: 14px;
  color: #404040;
  max-width: 550px;
  word-wrap: break-word;
  white-space: pre-line;
}

.comment-text p {
  margin: 10px 0;
}

.comment-text a {
  color: #404040;
  font-size: 13px;
}

ul.kid-root > ul.kid-root {
  margin-left: 30px;
}

code {
  font-family: monospace;
}

