// Svg
.link-svg svg {
  height: 1.5rem;
  width: 1.5rem;
  fill: #999;

  &:hover {
    fill: #F4751E;
  }

  // Small
  @media screen and (max-width: 30em) {
    height: 1rem;
    width: 1rem;
  }

  // Medium
  @media screen and (min-width: 30em) and (max-width: 60em) {
    height: 1.25rem;
    width: 1.25rem;
  }
}

// Github Corner
.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%, 100% {
    transform: rotate(0);
  }

  20%,
    60% {
    transform: rotate(-25deg);
  }

  40%,
    80% {
    transform: rotate(10deg);
  }
}


@media (max-width: 500px) {
  .github-corner {
    &:hover .octo-arm {
      animation: none;
    }
    .octo-arm {
      animation: octocat-wave 560ms ease-in-out;
    }
  }
}
