<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}

    {% for static_file in site.static_files %}
      {% if static_file.path == '/service-worker.js' %}
        {% include service-worker-register.html %}
      {% endif %}
    {% endfor %}

  </body>

</html>
