---
layout: default
---
<div class="flex flex-column items-center justify-center pv5 tc ph4 avenir">
  <h2 class="f3 f2-ns fw5 mb4 dark-gray">
    A spiritual successor to TodoMVC
  </h2>
  <p class="f5 f4-ns mt0 mid-gray lh-copy mw8">
    TodoMVC has helped thousands of developers select
    an MV* framework for their JavaScript applications. However, the web ecosystem
    has evolved in the past few years allowing us to build powerful applications using
    modern browser capabilities.
  </p>

  <p class="f5 f4-ns mid-gray lh-copy mw8">
    To provide developers with examples, we collected a list of unofficial Hacker News clients built with a number of popular JavaScript frameworks and libraries.
    Each implementation is a complete <a class="b dark-gray link hover-orange" href="https://developers.google.com/web/progressive-web-apps/">Progressive Web App</a> that utilizes
    different progressive technologies to provide a fast, reliable and engaging experience.
  </p>

  <p class="f5 f4-ns mid-gray lh-copy mw8">
    Our implementations aim to follow a loose specification. They are primarily a learning tool and should not be used to compare the performance of one PWA to another. They can differ based on server infrastructure, performance patterns used and other factors.
  </p>
</div>

<div class="flex flex-column items-center justify-center pv5 tc ph4 avenir bg-near-white">
  <h2 class="f3 f2-ns fw5 mb4 dark-gray">
    Submit your Hacker News Progressive Web App
  </h2>

  <p class="f5 f4-ns mt0 mid-gray lh-copy mw8">
    If your Hacker News implementation meets the <a class="b dark-gray link hover-orange" href="https://github.com/tastejs/hacker-news-pwas#specification">specifications</a>, 
    feel free to submit a summary of it here! HNPWA serves as a reference for building PWAs with different libraries so the 
    more examples we have the better. Don't worry if there's already one with the same UI library or framework as yours.
  </p>

  <a class="mt3 f7 fw5 tracked bg-orange no-underline grow br-pill dib ph3 ph4-l pv2 near-black" href="https://github.com/tastejs/hacker-news-pwas/blob/master/CONTRIBUTING.md">SUBMIT</a>
</div>

{% assign sortedApps = site.apps | sort: 'weight' %}

{% for app in sortedApps %}
  {% include implementation.html app=app %}
{% endfor %}
