* {
  padding: 0;
  margin: 0;
  font-family: Roboto, Noto, sans-serif;
}

.story-root {
  margin: 10px;
}

ul {
  list-style: none;
}

#stories {
  margin: 10px;
}

.headline, .sub-info {
  display: flex;
}

.secondary {
  color: #8e8e8e;
  font-weight: lighter;
}

.primary {
  color: #404040;
}

.headline > *, .sub-info > * {
  margin-right: 4px;
}

.sub-info {
  margin-top: 4px;
  font-size: 13px;
}

.host {
  font-size: 13px;
}

.story {
  margin: 18px 0;
}

.title {
  text-decoration: none;
}

.comments {
  cursor: pointer;
}

.comments:hover {
  text-decoration: underline;
}

.comment-text {
  margin: 10px 0;
  font-size: 14px;
  color: #404040;
}

.comment-text p {
  margin: 10px 0;
}

.comment-text a {
  color: #404040;
  font-size: 13px;
}

ul.kid-root > ul.kid-root {
  margin-left: 25px;
}

