swagger: '2.0'
basePath: /v0
host: api.hnpwa.com
info:
  title: hnpwa swagger generated api
  contact:
    name: Jim Northrup
    email: jim@vsiwest.com
  description: use this to generate from swagger tools
  termsOfService: tbd
  version: '0'
consumes:
  - application/json
produces:
  - application/json
paths:
  '/news/{page}.json':
    get:
      parameters:
        - in: query
          name: page
          required: true
          type: integer
          minimum: 1
          maximum: 10
      responses:
        '200':
          $ref: '#/definitions/feedItem'
  '/newest/{page}.json':
    get:
      parameters:
        - in: query
          name: page
          required: true
          type: integer
          minimum: 1
          maximum: 12
      responses:
        '200':
          $ref: '#/definitions/feedItem'
  '/ask/{page}.json':
    get:
      parameters:
        - in: query
          name: page
          required: true
          type: integer
          minimum: 1
          maximum: 2
      responses:
        '200':
          description: tbd
          $ref: '#/definitions/feedItem'
  '/show/{page}.json':
    get:
      parameters:
        - in: query
          name: page
          required: true
          type: integer
          minimum: 1
          maximum: 1
      responses:
        '200':
          $ref: '#/definitions/feedItems'
  '/item/{id}.json':
    get:
      parameters:
        - in: query
          name: id
          required: true
          type: integer
          minimum: 1
      responses:
        '200':
          $ref: '#/definitions/item'
  '/user/{id}.json':
    get:
      parameters:
        - in: query
          name: id
          required: true
          type: string
      responses:
        '200':
          $ref: '#/definitions/user'
definitions:
  /user:
    type: object
    title: The Root Schema
    required:
      - created_time
      - created
      - id
      - karma
    properties:
      created_time:
        type: integer
        title: The Created_time Schema
        default: 0
      created:
        type: string
        title: The Created Schema
        default: ''
        pattern: ^(.*)$
      id:
        type: string
        title: The Id Schema
        default: ''
        pattern: ^(.*)$
      karma:
        type: integer
        title: The Karma Schema
        default: 0
  /item:
    type: object
    title: The Root Schema
    required:
      - id
      - title
      - points
      - user
      - time
      - time_ago
      - type
      - content
      - comments
      - comments_count
      - url
      - domain
    properties:
      id:
        type: integer
        title: The Id Schema
        default: 0
      title:
        type: string
        title: The Title Schema
        default: ''
        pattern: ^(.*)$
      points:
        type: integer
        title: The Points Schema
        default: 0
      user:
        type: string
        title: The User Schema
        default: ''
        pattern: ^(.*)$
      time:
        type: integer
        title: The Time Schema
        default: 0
      time_ago:
        type: string
        title: The Time_ago Schema
        default: ''
        pattern: ^(.*)$
      type:
        type: string
        title: The Type Schema
        default: ''
        pattern: ^(.*)$
      content:
        type: string
        title: The Content Schema
        default: ''
        pattern: ^(.*)$
      comments:
        type: array
        title: The Comments Schema
        items:
          type: object
          title: The Items Schema
          required:
            - id
            - user
            - time
            - time_ago
            - type
            - content
            - comments
            - comments_count
            - level
            - url
          properties:
            id:
              type: integer
              title: The Id Schema
              default: 0
            user:
              type: string
              title: The User Schema
              default: ''
              pattern: ^(.*)$
            time:
              type: integer
              title: The Time Schema
              default: 0
            time_ago:
              type: string
              title: The Time_ago Schema
              default: ''
              pattern: ^(.*)$
            type:
              type: string
              title: The Type Schema
              default: ''
              pattern: ^(.*)$
            content:
              type: string
              title: The Content Schema
              default: ''
              pattern: ^(.*)$
            comments:
              type: array
              title: The Comments Schema
              items:
                type: object
                title: The Items Schema
                required:
                  - id
                  - user
                  - time
                  - time_ago
                  - type
                  - content
                  - comments
                  - comments_count
                  - level
                  - url
                properties:
                  id:
                    type: integer
                    title: The Id Schema
                    default: 0
                  user:
                    type: string
                    title: The User Schema
                    default: ''
                    pattern: ^(.*)$
                  time:
                    type: integer
                    title: The Time Schema
                    default: 0
                  time_ago:
                    type: string
                    title: The Time_ago Schema
                    default: ''
                    pattern: ^(.*)$
                  type:
                    type: string
                    title: The Type Schema
                    default: ''
                    pattern: ^(.*)$
                  content:
                    type: string
                    title: The Content Schema
                    default: ''
                    pattern: ^(.*)$
                  comments:
                    type: array
                    title: The Comments Schema
                    items:
                      type: object
                      title: The Items Schema
                      required:
                        - id
                        - user
                        - time
                        - time_ago
                        - type
                        - content
                        - comments
                        - comments_count
                        - level
                        - url
                      properties:
                        id:
                          type: integer
                          title: The Id Schema
                          default: 0
                        user:
                          type: string
                          title: The User Schema
                          default: ''
                          pattern: ^(.*)$
                        time:
                          type: integer
                          title: The Time Schema
                          default: 0
                        time_ago:
                          type: string
                          title: The Time_ago Schema
                          default: ''
                          pattern: ^(.*)$
                        type:
                          type: string
                          title: The Type Schema
                          default: ''
                          pattern: ^(.*)$
                        content:
                          type: string
                          title: The Content Schema
                          default: ''
                          pattern: ^(.*)$
                        comments:
                          type: array
                          title: The Comments Schema
                          items:
                            type: object
                            title: The Items Schema
                            required:
                              - id
                              - user
                              - time
                              - time_ago
                              - type
                              - content
                              - comments
                              - comments_count
                              - level
                              - url
                            properties:
                              id:
                                type: integer
                                title: The Id Schema
                                default: 0
                              user:
                                type: string
                                title: The User Schema
                                default: ''
                                pattern: ^(.*)$
                              time:
                                type: integer
                                title: The Time Schema
                                default: 0
                              time_ago:
                                type: string
                                title: The Time_ago Schema
                                default: ''
                                pattern: ^(.*)$
                              type:
                                type: string
                                title: The Type Schema
                                default: ''
                                pattern: ^(.*)$
                              content:
                                type: string
                                title: The Content Schema
                                default: ''
                                pattern: ^(.*)$
                              comments:
                                type: array
                                title: The Comments Schema
                                items:
                                  type: object
                                  title: The Items Schema
                                  required:
                                    - id
                                    - user
                                    - time
                                    - time_ago
                                    - type
                                    - content
                                    - comments
                                    - comments_count
                                    - level
                                    - url
                                  properties:
                                    id:
                                      type: integer
                                      title: The Id Schema
                                      default: 0
                                    user:
                                      type: string
                                      title: The User Schema
                                      default: ''
                                      pattern: ^(.*)$
                                    time:
                                      type: integer
                                      title: The Time Schema
                                      default: 0
                                    time_ago:
                                      type: string
                                      title: The Time_ago Schema
                                      default: ''
                                      pattern: ^(.*)$
                                    type:
                                      type: string
                                      title: The Type Schema
                                      default: ''
                                      pattern: ^(.*)$
                                    content:
                                      type: string
                                      title: The Content Schema
                                      default: ''
                                      pattern: ^(.*)$
                                    comments:
                                      type: array
                                      title: The Comments Schema
                                      items:
                                        type: object
                                        title: The Items Schema
                                        required:
                                          - id
                                          - user
                                          - time
                                          - time_ago
                                          - type
                                          - content
                                          - comments
                                          - comments_count
                                          - level
                                          - url
                                        properties:
                                          id:
                                            type: integer
                                            title: The Id Schema
                                            default: 0
                                          user:
                                            type: string
                                            title: The User Schema
                                            default: ''
                                            pattern: ^(.*)$
                                          time:
                                            type: integer
                                            title: The Time Schema
                                            default: 0
                                          time_ago:
                                            type: string
                                            title: The Time_ago Schema
                                            default: ''
                                            pattern: ^(.*)$
                                          type:
                                            type: string
                                            title: The Type Schema
                                            default: ''
                                            pattern: ^(.*)$
                                          content:
                                            type: string
                                            title: The Content Schema
                                            default: ''
                                            pattern: ^(.*)$
                                          comments:
                                            type: array
                                            title: The Comments Schema
                                            items:
                                              type: object
                                              title: The Items Schema
                                              required:
                                                - id
                                                - user
                                                - time
                                                - time_ago
                                                - type
                                                - content
                                                - comments
                                                - comments_count
                                                - level
                                                - url
                                              properties:
                                                id:
                                                  type: integer
                                                  title: The Id Schema
                                                  default: 0
                                                user:
                                                  type: string
                                                  title: The User Schema
                                                  default: ''
                                                  pattern: ^(.*)$
                                                time:
                                                  type: integer
                                                  title: The Time Schema
                                                  default: 0
                                                time_ago:
                                                  type: string
                                                  title: The Time_ago Schema
                                                  default: ''
                                                  pattern: ^(.*)$
                                                type:
                                                  type: string
                                                  title: The Type Schema
                                                  default: ''
                                                  pattern: ^(.*)$
                                                content:
                                                  type: string
                                                  title: The Content Schema
                                                  default: ''
                                                  pattern: ^(.*)$
                                                comments:
                                                  type: array
                                                  title: The Comments Schema
                                                  items:
                                                    type: object
                                                    title: The Items Schema
                                                    required:
                                                      - id
                                                      - user
                                                      - time
                                                      - time_ago
                                                      - type
                                                      - content
                                                      - comments
                                                      - comments_count
                                                      - level
                                                      - url
                                                    properties:
                                                      id:
                                                        type: integer
                                                        title: The Id Schema
                                                        default: 0
                                                      user:
                                                        type: string
                                                        title: The User Schema
                                                        default: ''
                                                        pattern: ^(.*)$
                                                      time:
                                                        type: integer
                                                        title: The Time Schema
                                                        default: 0
                                                      time_ago:
                                                        type: string
                                                        title: The Time_ago Schema
                                                        default: ''
                                                        pattern: ^(.*)$
                                                      type:
                                                        type: string
                                                        title: The Type Schema
                                                        default: ''
                                                        pattern: ^(.*)$
                                                      content:
                                                        type: string
                                                        title: The Content Schema
                                                        default: ''
                                                        pattern: ^(.*)$
                                                      comments:
                                                        type: array
                                                        title: The Comments Schema
                                                        description: >-
                                                          An explanation about the purpose of this
                                                          instance.
                                                      comments_count:
                                                        type: integer
                                                        title: The Comments_count Schema
                                                        default: 0
                                                      level:
                                                        type: integer
                                                        title: The Level Schema
                                                        default: 0
                                                      url:
                                                        type: string
                                                        title: The Url Schema
                                                        default: ''
                                                        pattern: ^(.*)$
                                                comments_count:
                                                  type: integer
                                                  title: The Comments_count Schema
                                                  default: 0
                                                level:
                                                  type: integer
                                                  title: The Level Schema
                                                  default: 0
                                                url:
                                                  type: string
                                                  title: The Url Schema
                                                  default: ''
                                                  pattern: ^(.*)$
                                          comments_count:
                                            type: integer
                                            title: The Comments_count Schema
                                            default: 0
                                          level:
                                            type: integer
                                            title: The Level Schema
                                            default: 0
                                          url:
                                            type: string
                                            title: The Url Schema
                                            default: ''
                                            pattern: ^(.*)$
                                    comments_count:
                                      type: integer
                                      title: The Comments_count Schema
                                      default: 0
                                    level:
                                      type: integer
                                      title: The Level Schema
                                      default: 0
                                    url:
                                      type: string
                                      title: The Url Schema
                                      default: ''
                                      pattern: ^(.*)$
                              comments_count:
                                type: integer
                                title: The Comments_count Schema
                                default: 0
                              level:
                                type: integer
                                title: The Level Schema
                                default: 0
                              url:
                                type: string
                                title: The Url Schema
                                default: ''
                                pattern: ^(.*)$
                        comments_count:
                          type: integer
                          title: The Comments_count Schema
                          default: 0
                        level:
                          type: integer
                          title: The Level Schema
                          default: 0
                        url:
                          type: string
                          title: The Url Schema
                          default: ''
                          pattern: ^(.*)$
                  comments_count:
                    type: integer
                    title: The Comments_count Schema
                    default: 0
                  level:
                    type: integer
                    title: The Level Schema
                    default: 0
                  url:
                    type: string
                    title: The Url Schema
                    default: ''
                    pattern: ^(.*)$
            comments_count:
              type: integer
              title: The Comments_count Schema
              default: 0
            level:
              type: integer
              title: The Level Schema
              default: 0
            url:
              type: string
              title: The Url Schema
              default: ''
              pattern: ^(.*)$
      comments_count:
        type: integer
        title: The Comments_count Schema
        default: 0
      url:
        type: string
        title: The Url Schema
        default: ''
        pattern: ^(.*)$
      domain:
        type: string
        title: The Domain Schema
        default: ''
        pattern: ^(.*)$
  /feedItems:
    $schema: 'http://json-schema.org/draft-07/schema#'
    type: array
    title: The Root Schema
    items:
      type: object
      title: The Items Schema
      required:
        - id
        - title
        - points
        - user
        - time
        - time_ago
        - comments_count
        - type
        - url
        - domain
      properties:
        id:
          type: integer
          title: The Id Schema
          default: 0
        title:
          type: string
          title: The Title Schema
          default: ''
          pattern: ^(.*)$
        points:
          type: integer
          title: The Points Schema
          default: 0
        user:
          type: string
          title: The User Schema
          default: ''
          pattern: ^(.*)$
        time:
          type: integer
          title: The Time Schema
          default: 0
        time_ago:
          type: string
          title: The Time_ago Schema
          default: ''
          pattern: ^(.*)$
        comments_count:
          type: integer
          title: The Comments_count Schema
          default: 0
        type:
          type: string
          title: The Type Schema
          default: ''
          pattern: ^(.*)$
        url:
          type: string
          title: The Url Schema
          default: ''
          pattern: ^(.*)$
        domain:
          type: string
          title: The Domain Schema
          default: ''
          pattern: ^(.*)$
